.NHS {
  background-color: red;
}

.NHS #header {
  color: gold;
}

.NHS #nav {
  background-color: #880000;
  border-color: #880000;
}

.NHS #nav > li {
  background-color: orange;
  border-color: orange;
}


.NHS #body {
  background-color: gold;
  border-color: gold;
}

.NHS #sidebar {
  background-color: red;
  border-color: red;
}

.NHS #blog_column {
  background-color: yellow;
  border-color: yellow;
}

.NHS .blog_title {
  background-color: gold;
  border-color: gold;
  color: red;
}

.NHS .blog_entry {
  background-color: gold;
  border-color: gold;
}

.NHS .name {
  background-color: #ff0000;
  border-color: #ff0000;
}

.NHS .comment {
  background-color: #ff0000;
  border-color: #ff0000;
}