.Rainbow {
  background-color: orange;
}


.Rainbow #header {
  color: #330033;
}


.Rainbow #nav {
  background-color: red;
  border-color: #cc0000;
}


.Rainbow #nav > li {
  background-color: blue;
  border-color: blue;
}


.Rainbow a {
  color: #fe0;
}


.Rainbow #body {
  background-color: #00cc00;
  border-color: #00cc00;
}


.Rainbow #sidebar {
  background-color: purple;
  border-color: purple;
}


.Rainbow h3 {
  color: violet;
}


.Rainbow h4 {
  color: violet;
}


.Rainbow h5 {
  color: violet;
}


.Rainbow #blog_column {
  background-color: yellow;
  border-color: yellow;
}

.Rainbow .blog_title {
  background-color: red;
  border-color: red;
}

.Rainbow .blog_entry {
  background-color: red;
  border-color: red;
}

.Rainbow .name {
  background-color: #009800;
  border-color: #009800;
}

.Rainbow .comment {
  background-color: #009800;
  border-color: #009800;
}
