.Vampire {
  background-color: black;
}

.Vampire #header {
  color: yellow;
}

.Vampire #nav {
  background-color: #cc0000;
  border-color: #cc0000;
}

.Vampire #nav > li {
  background-color: black;
  border-color: black;
}

.Vampire a {
  color: yellow;
}

.Vampire #body {
  background-color: #cc0000;
  border-color: #cc0000;
}

.Vampire #sidebar {
  background-color: black;
  border-color: black;
}

.Vampire h3 {
  color: yellow;
}

.Vampire h5 {
  color: yellow;
}

.Vampire #blog_column {
  background-color: black;
  border-color: black;
}

.Vampire .blog_title {
  background-color: red;
  border-color: red;
  color: yellow;
}

.Vampire .blog_entry {
  background-color: red;
  border-color: red;
}

.Vampire .name {
  background-color: red;
  border-color: red;
  color: yellow;
}

.Vampire .comment {
  background-color: red;
  border-color: red;
  color: yellow;
}

.Vampire label {
  color: yellow;
}