#header {
	font-size: 320%;
	display: inline-block;
}

#nav {
	padding: 5px;
	border-width: 5px;
	border-style: solid;
	border-radius: 5px;
	overflow: hidden;
}

#nav > li {
	display: inline-block;
	padding: 5px 20px 5px 20px;
	border-width: 5px;
	border-style: solid;
	border-radius: 5px;
}

div {
  padding: 5px;
  border-width: 5px;
  border-style: solid;
  border-radius: 5px;
}

#body {
  border-width: 5px;
  border-style: solid;
  border-radius: 5px;
}

#sidebar {
  display: inline-block;
}

a {
  margin: 0px 0px -20px 0px;
}


