html {

  background-image: url("unicorn.jpg");
  background-size: cover;

}




#header {

  color: #c0c0ff;
  text-shadow: 2px 2px 8px black;

}


#nav {

  background-color: rgba(0,0,255,0.3);

  border-color: #cdffff;

}


#nav > li {

  background-color: rgba(0,0,255,0.4);

  border-color: #cdffff;

}


a {

  color: #cdffff;

}


#body {

  background-color: rgba(0,0,255,0.4);

  border-color: blue;

}


#sidebar {

  background-color: rgba(224,255,255,0.7);

  border-color: #cdffff;

}

#body > table > tbody > tr > td > ul > li {
  color: white;
}

h2 {
  color: #cdffff;
}


h3 {

  color: black;

}


#sidebar > h4 {

  color: black;

}

#body > h4 {
  color: #cdffff;
}


h5 {

  color: black;

}


