body {
  background-color: red;
}

#header {
  color: gold;
}

#nav {
  background-color: #880000;
  border-color: #880000;
}

#nav > li {
  background-color: orange;
  border-color: orange;
}


#body {
  background-color: gold;
  border-color: gold;
}

#sidebar {
  background-color: red;
  border-color: red;
}

