body {
  background-color: black;
}

#header {
  color: yellow;
}

#nav {
  background-color: #cc0000;
  border-color: #cc0000;
}

#nav > li {
  background-color: black;
  border-color: black;
}

a {
  color: yellow;
}

#body {
  background-color: #cc0000;
  border-color: #cc0000;
}

#sidebar {
  background-color: black;
  border-color: black;
}

h3 {
  color: yellow;
}

h5 {
  color: yellow;
}


